.bgimg {
    background-image: url("https://ik.imagekit.io/y7kt1vqd5/chatbg.png?updatedAt=1724533272926");
    height: 500vh ;  
    background-color: #323f4b;   
    background-repeat: repeat;
    background-size: contain;
    




    
}